<div class="info">


    {{ if .Params.Image }}
    <p >
        <!-- <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}"><br> -->

        <a href="{{ .Permalink }}" >
            <img src="{{ (printf "%s%s" .Permalink .Params.Image ) }}"  style="width: 100%; max-height: 200px; object-fit: cover;"   >
        </a>


        <!-- <img src="{{ (printf "%s%s" .Permalink .Params.Image ) }}"> -->


    </p>
    {{ end }}

    <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <!-- {{ .Title }} -->
    </h1>
    {{ if .Date }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">
            {{ .Date.Format "January 2, 2006" }}
        </time>
    {{ end }}
    {{ if .Params.tags }}
    <ul class="tags">
        {{ range .Params.tags }}
        <li class="tag-{{ . }}">
            <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    
    {{ $Site := .Site }}
    {{ if .Params.series }}
        <p class="seriesname">
            Series: <a href="{{ $Site.BaseURL }}series/{{ .Params.series | urlize }}">{{ .Params.series }}</a>
        </p>
    {{ end }}
    
    <!-- {{ if .Params.Image }}
    <p>

        <img src="{{ (printf "%s%s" .Permalink .Params.Image ) }}"><br>


    </p>
    {{ end }} -->
</div>
