/* Empty css file that users can override in their own /static/css/custom.css file */


p em {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: larger;
}
/* 
body {
    background-color: white;
} */

/* html {
    font-family: auto;
} */

.tags {
    margin: 0px 20px;
}


.info p {
    margin-bottom: .1rem;
    margin-left: .1rem;
    margin-right: .1rem;
}

.info p img {
    margin-bottom: .1rem;
}

.post-date {
    margin-bottom: 1rem;
}

.sidebar-sticky {
    height: 100%;
}

.sidebar {
    overflow-y: visible ;
}

.article-toc {
    max-width: 100%;
}

.article-toc nav {
    margin-left: 0px;
}

.summary {
    padding: 0px 5px;
}

pre code {
    /* font-size: 80% !important; */
    /* line-height: 40% !important; */
  }

.highlight {  
    border-radius: 0px;
    border: 1px solid #ccc;
}


.art-list-content {
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
}

.art-page-content {
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
}

.search-container {
    max-width: 720px;
    padding: 1rem .1rem;
    margin: 0 auto;
  }
  
  .search {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  .search label {
    position: absolute;
    left: .6rem;
    top: .6rem;
    color: var(--text-color);
  }

  .search input {
    width: 100%;
    padding: .5rem .5rem .5rem 2.5rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    border: 0;
    border-radius: inherit;
    outline: none;
  }
  