/* Empty css file that users can override in their own /static/css/custom.css file */


p em {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: larger;
}
/* 
body {
    background-color: white;
} */

html {
    font-family: auto;
}

.tags {
    margin: 0px 20px;
}


.info p {
    margin-bottom: .1rem;
    margin-left: .1rem;
    margin-right: .1rem;
}

.info p img {
    margin-bottom: .1rem;
}

.post-date {
    margin-bottom: 1rem;
}

.sidebar-sticky {
    height: 100%;
}

.sidebar {
    overflow-y: visible ;
}

.article-toc {
    max-width: 100%;
}

.article-toc nav {
    margin-left: 0px;
}

.article-toc a {
    color: var(--toc-inactive-color);
} 

.article-toc li.inactive a {
    color: var(--toc-inactive-color);
} 

.article-toc ui.inactive a {
    color: var(--toc-inactive-color);
}


.article-toc li.active a {
    color: var(--toc-active-color);
} 

.article-toc ui.active a {
    color: var(--toc-active-color);
}

/* article .summary {
    margin: 0px 10px;
} */